/* sidebar.css */

/* Sidebar Styles */
.sidebar {
    position: fixed;
    right: -100%; /* Start completely off-screen */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--primary-sidebar-color); /* Use transparent primary color */
    color: var(--text-color); /* Use CSS variable */
    padding: 2rem 1rem;
    z-index: 999;
    transition: right 0.3s ease; /* Smooth transition */
    overflow-y: auto;
}

.sidebar.open {
    right: 0; /* Slide in */
}

.sidebar.close {
    right: -100%; /* Slide out */
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; /* Center the items */
}

.sidebar nav a {
    color: var(--text-color); /* Use CSS variable */
    text-transform: uppercase;
    font-size: 1.2rem; /* Increase font size */
    text-decoration: none;
    padding: 0.5rem 1rem; /* Add padding */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sidebar nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Add hover effect */
}

.sidebar .close-btn {
    background-color: transparent;
    border: none;
    color: var(--text-color); /* Use CSS variable */
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.sidebar .close-btn:hover {
    color: rgba(255, 255, 255, 0.8); /* Add hover effect */
}

/* Ensure sidebar is hidden in desktop view */
@media (min-width: 769px) {
    .sidebar {
        display: none;
    }
}

/* Theme Switcher in Sidebar */
.theme-switcher-sidebar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: #ffffff;
    overflow: hidden;
    margin: 1rem 0;
}

.theme-switcher-sidebar i {
    color: var(--primary-color);
    font-size: 1.2rem;
    transition: all 0.3s ease;
    transform-origin: center;
    position: absolute;
}

.theme-switcher-sidebar i.fa-sun {
    color: #fbaa47;
    text-shadow: 0 0 10px #FFD700,
                 0 0 20px #ffd900,
                 0 0 30px #FF8C00;
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.theme-switcher-sidebar i.fa-moon {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ffffff,
                 0 0 30px #4A4A4A;
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
}

[data-theme='dark'] .theme-switcher-sidebar {
    background: #333333;
}

[data-theme='dark'] .theme-switcher-sidebar i.fa-sun {
    opacity: 0;
    transform: rotate(90deg) scale(0.5);
}

[data-theme='dark'] .theme-switcher-sidebar i.fa-moon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}