/* theme.css */

/* Default (light) theme */
:root {
    --background-color: #ffffff; /* Background color for light mode */
    --text-color: #000000; /* Text color for light mode */
    --primary-color: #80C1E5; /* Primary color for light mode */
    --primary-color-rgb: 128, 193, 229; /* RGB components of primary color for light mode */
    --secondary-color: #667279; /* Secondary color for light mode */
    --link-color: #054579; /* Link color for light mode */
    --card-background-color: #f8f9fa; /* Card background color for light mode */
    --primary-button-color: #7bd79ed4;
    --secondary-button-color: #a3c2d2d6;
    --secondary-text-color: #3737379c;
    --primary-sidebar-color: rgba(128, 193, 229, 0.8); /* Transparent primary color for sidebar */
    --tertiary-text-color: #ffffffec;
    --slider-background: #ccc; /* Default toggle background in light mode */
    --slider-checked-background: #80c1e5; /* Toggle background when checked in light mode */
    --divider-background: #48bfff3a;
  }
  
  /* Dark theme */  
  [data-theme="dark"] {
    --background-color: #121212; /* Background color for dark mode */
    --text-color: #ffffff; /* Text color for dark mode */
    --primary-color: #000d81ca; /* Primary color for dark mode */
    --primary-color-rgb: 187, 134, 252; /* RGB components of primary color for dark mode */
    --secondary-color: #31373a2e; /* Secondary color for dark mode */
    --link-color: #4baeff; /* Link color for dark mode */
    --card-background-color: #1f1f1f; /* Card background color for dark mode */
    --primary-button-color: #00833266;
    --secondary-button-color: #29a0dc70;
    --secondary-text-color: #b2b2b2ec;
    --tertiary-text-color: #ffffffec;
    --primary-sidebar-color: #000d81ca; /* Transparent primary color for sidebar */
    --slider-background: #555; /* Default toggle background in dark mode */
    --slider-checked-background: #4baeff; /* Toggle background when checked in dark mode */
    --divider-background: #100b5882;
  }
  
  /* Apply the colors to the entire document */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  a {
    color: var(--link-color);
  }
  
  .navbar {
    background-color: var(--primary-color);
  }
  
  .sidebar {
    background-color: var(--primary-sidebar-color); /* Use transparent primary color */
  }
  
  .card {
    background-color: var(--card-background-color);
  }
  
  /* Update other components' styles as needed using the defined variables */